.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-default-white;
  width: 100%;
  padding: 16px 0;
  background: $color-endeavour;
  border: 0;
  border-radius: 0;
  margin-top: 10px;
}
