.input {
    width: 592px;
    height: 48px;
    background: #F1F1F1;
    border-radius: 100px;
    border: none;
    padding-left: 50px;
    outline: none;

    &:focus {
        outline: 2px solid $color-alice-blue;
    }
}

.input::placeholder {
    text-align: center;
}
